@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--primaryColor);
  min-width: 100%;
  min-height: 100vh;

  --primaryColor: #1b2b38;
  --secondaryColor: #FFBF00;
  --background-color: #f5fefd;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  left: 0;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  text-align: center;
  padding: 1em;
  font-size: 0.75rem;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2em;
}

.home-page button {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.search-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 20px;
  border-radius: .3em;
  padding: 0.75em 1.5em;
  box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.19);
  font-size: 0.75rem;
}

.search-inputs input {
  border: none;
  outline: none;
  padding: 0.15em .5em;
  font-family: inherit;
  margin-left: 0.75em;
  border-radius: 0.15em;
  background-color: var(--background-color);
  color: var(--primaryColor);
  font-size: 0.75rem;
  box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.2);
}

.search-inputs input::placeholder {
  color: var(--primaryColor);
  font-size: 0.75rem;
}

table {
  border-collapse : collapse;
  width: 60%;
  box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.2);
}

table th {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  padding: 0.5em;
  text-align: left;
  font-size: 0.75rem;
}

table td {
  padding: 0.5em;
  text-align: left;
  font-size: 0.75rem;
}

table td h3 {
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}
.full-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 5em;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  gap: 2em;
  margin-top: 5em;
  border-radius: .3em;
  padding: 0.75em 1.5em;
  box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.19);
  max-width: fit-content;
  font-size: 0.75rem;
}

.booking-form input {
  border: none;
  outline: none;
  padding: 0.15em .5em;
  font-family: inherit;
  border-radius: 0.15em;
  background-color: var(--background-color);
  color: var(--primaryColor);
  font-size: 0.70rem;
  box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.2);
  min-width: 100%;
}

nav {
  max-height: 5%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li img {
  width: 8em;
  height: 8em;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav ul li img {
    width: 5em;
    height: 5em;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  
}





